<ion-header>
  <ion-toolbar color="success" >
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card  status="hold" updatedAt="23/12/2022 01:33" createdAt="22/12/2022 01:33" 
  notes="we have two bags that are full, one with plastic and the other one with glasses"> </app-pickup-call-card>
  
  <app-pickup-call-card  status="processing" updatedAt="23/12/2022 01:33" createdAt="22/12/2022 01:33" 
  notes="we have two bags that are full, one with plastic and the other one with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="23/12/2022 01:33" createdAt="22/12/2022 01:33" 
value="$ 15,00"></app-pickup-call-card>
 
</ion-content>
